.chat {
    display: inline-block;
    width: 350px;
    max-width: 100%;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.chat__message-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat__message {
    margin-bottom: 5px;
    background: lightgray;
    padding: 5px 10px;
    border-radius: 5px;
}

.chat__message--mine {
    background: blue;
    color: white;
    text-align: right;
}
